body {
  background: linear-gradient(45deg, #f2d36e, #b7d9eb, #6e8ba0, #4a6273);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: "lato";
}
/* idee om de  achtergrondkleur te veranderen aan de hand van het weer. 
Bij zonnig geel en bij nacht donker of met foto's / video's */

.weatherbox {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
}
header {
  padding: 15px;
}

.weather-app-city {
  font-size: 45px;
  color: #4a6273;
  margin: 20px 0;
}

strong {
  color: #4a6273;
}
.search-form-input {
  background-color: #4a62734d;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 80%;
}

.search-form-input:hover {
  border: 2px solid #4a6273;
}

.search-form-submit-button {
  background-color: #ffd9008c;
  border: none;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.692);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  padding: 10px;
  width: 90px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.search-form-submit-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.weather-temp-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -140px;
  margin-right: 20px;
}

.weather-icon {
  transition: transform 0.3s ease-in-out;
}

.weather-icon:hover {
  transform: scale(1.3);
}
.temp {
  font-size: 80px;

  transition: color 0.3s ease-in-out;
}
.temp:hover {
  color: #f2d36e;
}
.celcius {
  font-size: 30px;
  margin-top: 15px;
}

.celcius:hover {
  color: #f2d36e;
}
footer {
  font-size: 14px;
  margin-top: 100px;
  text-align: center;
}

a {
  color: #4a6273;
}
